<h1>Listing endusers</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Platenumber</th>
    <th>Email</th>
    <th>Address</th>
    <th>Telephone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @endusers.each do |enduser| %>
  <tr>
    <td><%= enduser.firstname %></td>
    <td><%= enduser.lastname %></td>
    <td><%= enduser.platenumber %></td>
    <td><%= enduser.email %></td>
    <td><%= enduser.address %></td>
    <td><%= enduser.telephone %></td>
    <td><%= link_to 'Show', enduser %></td>
    <td><%= link_to 'Edit', edit_enduser_path(enduser) %></td>
    <td><%= link_to 'Destroy', enduser, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enduser', new_enduser_path %>
